/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* ======nav======= */
    .container {
        padding: 0 20px;
    }

    .navbar {

        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        display: none;
    }

    .logo {
        width: 100%;
        margin-bottom: 20px;
        display: none;
    }

    .menuItem {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 100%;
    }

    .menuItem li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbtn {
        width: 100%;
        justify-content: center;
    }

    .navbtn p {
        margin-right: 10px;
    }

    .navbtn button {
        padding: 10px 20px;
    }

    .mobileMenu {
        display: block;
    }

    .mobileOpen {
        display: flex !important;
    }

    .mobileClose {
        display: none !important;
    }

    /* ========banner==== */
    .banner_container {
        flex-direction: column-reverse;
        padding-top: 50px;
    }

    .headerSection {
        padding: 50px 0;
    }

    .banner_container {
        gap: 40px;
    }

    .banner_content {
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .banner_heading {
        font-size: 50px;
        line-height: 70px;
        text-align: center;
    }

    .banner_image_container {
        display: flex;
        justify-content: center;
    }

    .banner_image {
        width: 80%;
    }

    .banner_subHeading {
        text-align: center;
    }

    .banner_descrip {
        text-align: center;
    }

    /*======= Adventure section======= */
    .adventure_container {
        flex-direction: column-reverse;
        padding: 50px 0;
    }

    .adventure_content_header,
    .adventure_content_Sub_header,
    .adventure_content_list {
        text-align: center;
    }

    .adventure_content button {
        margin: 0 auto;
    }

    .ellipse_adventure_circle_big {
        top: 0;
        right: 50%;
    }

    .ellipse_adventure {
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    /*======== Carousel =======*/
    .card-container {
        grid-template-columns: repeat(1, 1fr);

    }

    /* =====discount====== */
    .discount_container {
        padding: 10px 0px 50px;
    }

    .discount_container {
        flex-direction: column-reverse;
    }

    /*======== bookNow======= */
    .bookNow_image_container {
        display: none;
    }

    .bookNow_container {
        padding: 50px 0px;
    }

    /* ======testimonial======= */
    .testimonial_container {
        padding: 50px 0px;
    }

}

/* Small devices (portrait tablets and large phones,landscape tablets 600px and up 1023px) */
@media only screen and (min-width: 600px) and (max-width: 1023px) {

    /* =========nav======== */
    .container {
        padding: 0 40px;
    }

    .navbar {
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        display: none;
    }

    .logo {
        width: 100%;
        margin-bottom: 20px;
        display: none;
    }

    .menuItem {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 100%;
    }

    .menuItem li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbtn {
        width: 100%;
        justify-content: center;
    }

    .navbtn p {
        margin-right: 10px;
    }

    .navbtn button {
        padding: 10px 20px;
    }

    .mobileMenu {
        display: block;
    }

    .mobileOpen {
        display: flex !important;
    }

    .mobileClose {
        display: none !important;
    }

    /* ========banner==== */
    .banner_container {
        flex-direction: column-reverse;
        padding-top: 50px;
    }

    .headerSection {
        padding: 50px 0;
    }

    .banner_container {
        gap: 40px;
    }

    .banner_content {
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .banner_heading {
        font-size: 60px;
        line-height: 80px;
        text-align: center;
    }

    .banner_image_container {
        display: flex;
        justify-content: center;
    }

    .banner_image {
        width: 70%;
    }

    .banner_subHeading {
        text-align: center;
    }

    .banner_descrip {
        text-align: center;
    }

    /*======== Carousel =======*/
    .card-container {
        grid-template-columns: repeat(2, 1fr);

    }

    /* =====discount====== */
    .discount_container {
        flex-direction: column-reverse;
    }

    .discount_img_container img {
        width: 80%;
        border-radius: 20px;
    }

    .discount_img_container {
        display: flex;
        justify-content: center;
    }

    .discount_content p,
    .discount_content .adventure_content_list li {
        text-align: center;
    }

    .discount_content button {
        margin: 0 auto;
    }

    /*======== bookNow======= */
    .bookNow_image_container {
        display: none;
    }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 1024px and up 1200px) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    /* =========nav========== */
    .container {
        padding: 0 60px;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        padding-top: 15px;
    }

    .logo {
        width: 200px;
        margin-bottom: 20px;
        display: block;
    }

    .menuItem {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 100%;
    }

    .menuItem li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbtn {
        width: 100%;
        justify-content: end;
    }

    .navbtn p {
        margin-right: 10px;
    }

    .navbtn button {
        padding: 10px 20px;
    }

    /* =====banner===== */
    .headerSection {
        padding: 50px 0;
    }

    .banner_container {
        gap: 40px;
    }

    .banner_content {
        gap: 20px;
    }

    .banner_heading {
        font-size: 60px;
        line-height: 80px;
    }

    /*======== Carousel =======*/
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}