/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* ======nav======= */
    .container {
        padding: 0 20px;
    }

    .navbar {

        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        display: none;
    }

    .logo {
        width: 100%;
        margin-bottom: 20px;
        display: none;
    }

    .menuItem {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 100%;
    }

    .menuItem li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbtn {
        width: 100%;
        justify-content: center;
    }

    .navbtn p {
        margin-right: 10px;
    }

    .navbtn button {
        padding: 10px 20px;
    }
    .mobileMenu{
        display: block;
    }
    .mobileOpen{
        display: flex !important;
    }
    .mobileClose{
        display: none !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    /* =========nav======== */
    .container {
        padding: 0 20px;
    }

    .navbar {
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        display: none;
    }
    .logo {
        width: 100%;
        margin-bottom: 20px;
        display: none;
    }

    .menuItem {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 100%;
    }

    .menuItem li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbtn {
        width: 100%;
        justify-content: center;
    }

    .navbtn p {
        margin-right: 10px;
    }

    .navbtn button {
        padding: 10px 20px;
    }
    .mobileMenu{
        display: block;
    }
    .mobileOpen{
        display: flex !important;
    }
    .mobileClose{
        display: none !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    /* =========nav========== */
    .container {
        padding: 0 20px;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        padding-top: 15px;
    }

    .logo {
        width: 200px;
        margin-bottom: 20px;
        display: block;
    }

    .menuItem {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 100%;
    }

    .menuItem li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbtn {
        width: 100%;
        justify-content: center;
    }

    .navbtn p {
        margin-right: 10px;
    }

    .navbtn button {
        padding: 10px 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}