@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Global */
:root {
  --btn : #F27A44
}

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; /* Most of font is Inter and use other font use next */
}

.container{
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
}

.btn {
  
  padding: 16px 32px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  background-color: var(--btn);
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}